import type { FC } from 'react'
import styles from './style.module.scss'
import type { T{{pascalCase name}} } from './{{name}}.types'

export const {{pascalCase name}}: FC<T{{pascalCase name}}> = ({...props}) => {
  return (
    <div className={styles["{{camelCase name}}"]} {...props}> {{pascalCase name}} </div>
  )
}

export default {{pascalCase name}}
